/* Styles généraux */
body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #ffffff;
    color: #16068e;
}

/* Sidebar */
.sidebar {
    position: fixed;
    width: 250px;
    height: 100%;
    background-color: #ffffff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.3);
}

.sidebar .profile {
    text-align: center;
    margin-bottom: 30px;
}

.sidebar .profile h1 {
    font-size: 24px;
    color: #16068e;
}

.sidebar .profile p {
    font-size: 16px;
    margin-top: 5px;
}

.sidebar .social-links img {
    width: 30px;
    margin: 10px 5px;
}

.sidebar .menu ul {
    list-style: none;
    padding: 0;
}

.sidebar .menu li {
    margin: 15px 0;
}

.sidebar .menu a {
    text-decoration: none;
    color: #16068e;
    font-size: 16px;
}

.sidebar footer {
    font-size: 12px;
    text-align: center;
    color: #16068e;
}

/* Main content */
main {
    margin-left: 270px;
    padding: 20px;
}

.hero {
    text-align: center;
    background: linear-gradient(to bottom, #e7e7e9, #e3e3eb);
    padding: 60px 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.hero img {
    width: 100%;
    max-width: 800px;
    border-radius: 10px;
}

.hero h2 {
    font-size: 36px;
    margin: 20px 0;
    color: #16068e;
}

.hero p {
    font-size: 18px;
}

.about, .education, .career {
    margin: 40px 0;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.about h2, .education h3, .career h3 {
    color: #16068e;
    margin-bottom: 10px;
}

.about p, .education p, .career p {
    line-height: 1.6;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin: 10px 0;
    padding-left: 20px;
    position: relative;
}

ul li::before {
    content: '•';
    color: #16068e;
    position: absolute;
    left: 0;
}

.cta {
    text-align: center;
    margin-top: 20px;
}

.cta .btn {
    display: inline-block;
    text-decoration: none;
    background-color: #16068e;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 10px;
    font-weight: bold;
}

.cta .btn:hover {
    background-color: #16068e;
}

/* Responsive Design */
@media (max-width: 768px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
        box-shadow: none;
    }

    main {
        margin-left: 0;
    }

    .hero img {
        max-width: 100%;
    }
}
